{% extends 'base.html' %}

{% block content %}
{%if user.is_authenticated %}

<h1>Records</h1>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">adress</th>
            <th scope="col">city</th>
            <th scope="col">state</th>
            <th scope="col">zipcode</th>
            <th scope="col">Created at</th>
        </tr>
    </thead>
    {% for record in records %}
    {% if records %}
    
    <tbody>
        <tr>
            
            <th scope="row"><a href="{% url 'record' record.id %}">{{record.id}}</a></th>
            <td>{{record.first_name}}</td>
              <td>{{record.last_name}}</td>
              <td> {{record.email}}</td>
              <td>{{record.phone}}</td>
              <td>{{record.adress}}</td>
              <td> {{record.city}}</td>
              <td>{{record.state}}</td>
              <td>{{record.zipcode}}</td>
              <td>{{record.created_at}}</td>
            </tr>
        </tbody>
        {%endif%}
        {% endfor %}
    </table>
    
    
    
    {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        


        <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>

  <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="
        margin-top: -100px;
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up now</h2>
          <form>
          
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" name="username" class="form-control" />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" name="password" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

        

            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
              Sign up
            </button>



          </form>
        </div>
      </div>
    </div>
  </div>
</section>

     
    </form>
</div>



{% endif %}
{% endblock %}